<div class="modal fade" id="modalRequestPermission" tabindex="-1" aria-labelledby="modalRequestPermissionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 0;">
      <div class="modal-header">
        <h6 class="modal-title fs-5">Information</h6>
      </div>
      <div class="modal-body">
        The source code is not publicly available. Please request permission by using one of the contact options.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>