
    <div class="col-lg-12 expandable-card">
      <div class="aby-alert success">
        <div
          class="expandable-card-title"
          onclick="$(this).next().slideToggle();"
          onmouseover="$(this).css('font-weight', 'bold');"
          onmouseleave="$(this).css('font-weight', 'normal');"
        >
          <i class="fas fa-info-circle"></i>
          <span>About this platform</span>
          <span class="right">Expand &nbsp;<i class="fas fa-arrow-circle-down"></i></span>
        </div>
        <div class="expandable-card-content">
          <p>
            '<i>StaroNovo</i>' is a platform used to a) promote and sell, and b) discover and buy different kind of
            apparel and clothing. This intro sentence obviously defines two types of users - sellers and buyers.
            Everyone can use this platform (web app or mobile app) and every user can be a seller and a buyer
            at the same time. This platform simply connects those who want to sell and those who want to buy
            stuff. When a connection is established, i.e. when a buyer orders some products from the seller,
            the seller needs to externally arrange transportation of these products to the buyer. This is not
            part of the '<i>StaroNovo</i>' platform. Externally, '<i>myCargo</i>' platform can be used for this.
            Learn more about '<i>myCargo</i>' in the portfolio section.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-12 expandable-card">
      <div class="aby-alert success">
        <div
          class="expandable-card-title"
          onclick="$(this).next().slideToggle();"
          onmouseover="$(this).css('font-weight', 'bold');"
          onmouseleave="$(this).css('font-weight', 'normal');"
        >
          <i class="fab fa-js"></i>
          <span>Web application</span>
          <span class="right">Expand &nbsp;<i class="fas fa-arrow-circle-down"></i></span>
        </div>
        <div class="expandable-card-content">
          <p>
            What this web application consists of? Well, backend and frontend apps of course.
          </p>
          <ul>
            <li>Lumen Micro-Framework By Laravel (PHP)</li>
            <li>MySQL Database Management System</li>
            <li>Vue.js Progressive JavaScript Framework</li>
          </ul>
          <p>
            See the mini-documentation
            <a target="_blank" href="https://www.dropbox.com/sh/9jrd11abwqsesyc/AACCG0R9rinYAQFh_IDatPlCa?dl=0">here</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-12 expandable-card">
      <div class="aby-alert success">
        <div
          class="expandable-card-title"
          onclick="$(this).next().slideToggle();"
          onmouseover="$(this).css('font-weight', 'bold');"
          onmouseleave="$(this).css('font-weight', 'normal');"
        >
          <i class="fab fa-android"></i>
          <span>Android application</span>
          <span class="right">Expand &nbsp;<i class="fas fa-arrow-circle-down"></i></span>
        </div>
        <div class="expandable-card-content">
          <p>
            What this android app consists of?
          </p>
          <ul>
            <li>Standard components for creating interfaces</li>
            <li>Using Android components lifecycle methods </li>
            <li>Modern and responsive backend server</li>
            <li>Background services</li>
            <li>Fragments and navigation between them</li>
            <li>Firebase Cloud Messaging (FCM) API</li>
            <li>Push notifications</li>
            <li>Camera usage</li>

            <li>Java Programming Language</li>
            <li>Hilt Dependency Injection Framework</li>
            <li>Retrofit REST Client</li>
            <li>Unit Testing</li>
            <li>Data Binding</li>
            <li>AndroidX Library</li>
            <li>Working with device storage</li>
          </ul>
        </div>
      </div>
    </div>

